<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDu5SSPmOA5TOE9F8mKhLhqpfxEWe3NmN0"></script>
<script type="text/javascript" src="<%= asset_path("map.js") %>"></script>

<input type="hidden" id='api-token' value="<%= @user.token %>">

<h1>What's the Vibe in your area?</h1>

<div id="map"></div>


<table>
  <tbody id="map-ratings-list">

  </tbody>
</table>



<!-- <!DOCTYPE html>
<html>
<h1>What's the Vibe in your area?</h1>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Simple markers</title>
  <style>
    html, body {
      height: 100%;
    }
    #map {
      height: 100%;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDu5SSPmOA5TOE9F8mKhLhqpfxEWe3NmN0"></script>
  <script src="map.js"></script>

</head>
<body>
  <div id="map"></div>
</body>

</html>

-->
