<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDu5SSPmOA5TOE9F8mKhLhqpfxEWe3NmN0"></script>
<script type="text/javascript" src="<%= asset_path("map.js") %>"></script>
<input type="hidden" id='api-token' value="<%= @user.token %>">

<div id="map"></div>

<div class="mapVibeButton">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <a href="/users/vibe/"><button class='mainButton'>Vibe</button></a>
    </div>
  </div>
</div>


<div class="hiddenElements">
<table>
  <tbody id="map-ratings-list">

  </tbody>
</table>
</div>
