<input type="hidden" id='api-token' value="<%= @user.token %>">

<h1>Hello, <%= @user.first_name %></h1>

<%= button_to 'Log-Out', log_out_path, method: :delete %>

<form class="create-rating" action="/api/ratings" method="post">
  <input type="text" id="rating-post" name="rating[mood]" placeholder="Rating (1-10)">
  <input type="text" name="rating[comment]" placeholder="Comment...">
  <input type="submit" value="Add Rating">
</form>

<table>
  <tbody id="ratings-list">

  </tbody>
</table>
