<h1>Wandering Silence</h1>

<p>Welcome to the web application currently known as "Wandering Silence".</p>

<h3><a href="users/log_in">Log In</a></h3>

<h4>Project Devs:</h4>
<ul>
  <li>Eduard</li>
  <li>Matt</li>
  <li>Sam</li>
</ul>

<p>More to come soon</p>
