<!-- Main Splash Page with fields to login and signup users -->

<div class="backgroundImage">
  <div class="buttonContainer">
    <div class="row">
      <a href="users/log_in"><button class='mainButton'>Log In</button></a>
    </div>
    <div class="row">
      <a href="users/new"><button class='mainButton'>Sign Up</button></a>
    </div>
  </div>
</div>
