
<p>Welcome to the web application currently known as "Wandering Silence".</p>

<h3><a href="users/log_in"><button>Log In</button></a></h3>
<h3><a href="users/log_in"><button>Sign Up</button></a></h3>
