
<div class="backgroundImage">



<h3><a href="users/log_in">Log In</a></h3>

<h4>Project Devs:</h4>
<ul>
  <li>Eduard</li>
  <li>Matt</li>
  <li>Sam</li>
</ul>

<p>More to come soon</p>

<h3><a href="users/log_in"><button>Log In</button></a></h3>
<h3><a href="users/new"><button>Sign Up</button></a></h3>

</div>
<div class="buttonContainer col-sm-11">
  <a href="users/log_in"><button class='mainButton'>Log In</button></a>
  <a href="users/log_in"><button class='mainButton'>Sign Up</button></a>
</div>
