<div class="row no-gutters">
  <div class="col-md-12 bgimage">




    <div class="backgroundImage">
      <img class="introImg" src="/assets/CityScape2-244d4ace6d775296cb7ac99dce1e3e4ea85a7aba46563a08a3ab071ffb06a22d.jpg" alt="" />
    </div>


      <div class="buttonContainer">
        <div class="row">
          <a href="users/log_in"><button class='mainButton'>Log In</button></a>
        </div>
        <div class="row">
          <a href="users/new"><button class='mainButton'>Sign Up</button></a>
        </div>
      </div>

  </div>
</div>
