
<div class="backgroundImage">

</div>
<div class="buttonContainer col-sm-11">
  <a href="users/log_in"><button class='mainButton'>Log In</button></a>
  <a href="users/new"><button class='mainButton'>Sign Up</button></a>
</div>
