

<form class="create-rating" action="/api/ratings" method="post">
  <input type="text" name="rating[mood]">
  <input type="text" name="rating[comment]">
  <input type="text" name="rating[latitude]">
  <input type="text" name="rating[longitude]">
  <input type="submit" value="Set Rating">
</form>
