<!DOCTYPE html>
<html>
<head>
  <title>Vibe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDu5SSPmOA5TOE9F8mKhLhqpfxEWe3NmN0"></script>
  <%= javascript_include_tag 'map_manifest', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/template" id='rating-template'>
      <td><%%= mood %></td>
      <td><%%= comment %></td>
      <td><%%= latitude %></td>
      <td><%%= longitude %></td>
  </script>

</head>
<body>

  <%= yield %>


</body>
</html>
