<!DOCTYPE html>
<html>
<head>
  <title>Vibe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'pro_manifest', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/template" id='rating-template'>
    <h3>
      <%%= mood %>
    </h3>
    <button type="button" class='remove'>
      Remove
    </button> 
      <td><%%= mood %></td>
      <td><%%= comment %></td>
      <td>
        <button type="button" class='remove'>
          Remove
        </button>
      </td>
  </script>

</head>
<body>

  <%= yield %>

</body>
</html>
